<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<configuration status="ERROR" monitorInterval="30">
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="[%d{ABSOLUTE} %5p %t]:  %m%n"/>
        </console>
        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用-->
        <File name="log" fileName="${sys:log.home}/test.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFileAll" fileName="${sys:log.home}/all.log"
                     filePattern="${sys:log.home}/$${date:yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
                <ThresholdFilter level="all" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%5p][%t] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="${sys:log.home}/error.log"
                     filePattern="${sys:log.home}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%5p][%t]  - %l - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileProject" fileName="${sys:log.home}/project.log"
                     filePattern="${sys:log.home}/$${date:yyyy-MM}/project-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%5p][%t] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileWorker" fileName="${sys:log.home}/worker.log"
                     filePattern="${sys:log.home}/$${date:yyyy-MM}/worker-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%5p][%t] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="RollingFileZookeeper" fileName="${sys:log.home}/zookeeper.log"
                     filePattern="${sys:log.home}/$${date:yyyy-MM}/zookeeper-%d{yyyy-MM-dd}-%i.log">
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%5p][%t] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <!--additivity="false" 表示只在本logger设置的ref中记录-->
    <loggers>
        <logger name="io.netty" level="ERROR"/>
        <logger name="org.mongodb" level="ERROR"/>
        <logger name="io.vertx" level="ERROR"/>
        <logger name="org.apache.kafka" level="ERROR"/>
        <logger name="freemarker.cache" level="ERROR"/>
        <!-- cluster -->
        <logger name="org.apache.zookeeper" level="INFO" additivity="false">
            <appender-ref ref="RollingFileZookeeper"/>
        </logger>
        <logger name="org.apache.curator" level="INFO" additivity="false">
            <appender-ref ref="RollingFileZookeeper"/>
        </logger>
        <logger name="io.vertx.spi.cluster" level="INFO" additivity="false">
            <appender-ref ref="RollingFileZookeeper"/>
        </logger>

        <logger name="com.fruit.seed" level="INFO"/>
        <logger name="com.fruit.shovel" level="INFO"/>
        <logger name="com.fruit.gateway" level="DEBUG"/>

        <root level="all">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileProject"/>
            <appender-ref ref="RollingFileError"/>
            <appender-ref ref="RollingFileAll"/>
        </root>
    </loggers>
</configuration>